body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #444;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0 20px;
  margin: 0;
  color: #000;
  transition: 0.2s linear;
}
header a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  text-decoration: underline;
  color: #33cabb;
}

.row p, .row a {
  font-size: 22px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/three_houses.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #33cabb;
  text-shadow: none;
  background-color: #ffffff;
  transition: 0.2s linear;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #33cabb;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.col-sm-offset-3 {
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #33cabb;
  background: -moz-linear-gradient(-45deg, #33cabb 0%, #6bba70 100%);
  background: -webkit-linear-gradient(-45deg, #33cabb 0%,#6bba70 100%);
  background: linear-gradient(135deg, #33cabb 0%,#6bba70 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cabb', endColorstr='#6bba70',GradientType=1 );
}

.col-sm-offset-3:hover .phonenumber {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.row .phonenumber {
  font-size: 42px;
  transition: 0.5s linear;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}
